/* .product .row h1 {
    text-align: right;
    margin-left: 590px;

}

.product .row h5 {
    text-align: right;
    margin-left: 590px;
    color: rgb(174, 172, 172);

}

.colA1 {
    flex-basis: 30%;
    min-width: 300px;
    margin-bottom: 30px;
    margin-top: 25px;
} */


.col2-1 image {
    width: 100%;
    border: #555;
    margin-top: -100065px;
}

.col2-2 image {
    width: 100%;
    border: #555;

}

.PName {
    text-align: center;
    margin: 20px auto 30px;
    position: relative;
    line-height: 60px;
    color: rgb(8, 7, 7);
    margin-left: 300px;
}

.PName::after {

    width: 70px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;

}