* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*----------------------------------------------header--------------------------------------------------------------*/



.img {
    max-width: 30;
    padding-left: 100px;
    margin-top: -62px;


}



.small-container-3 {
    max-width: 1800px;
    margin: auto;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 40px;
}

.postbtn {
    color: maroon;
}





/*----------------------------------------------testimonial--------------------------------------------------------------*/


.testimonial {
    padding: 20px;
}

.testimonial .col3 {

    text-align: center;
    padding: 20px 10px;
    box-shadow: 0 0 20PX 0PX rgba(141, 17, 17, 0.511);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col3 .imgT {
    width: 50PX;
    margin-top: 20PX;
    border-radius: 50%;
}

.testimonial .col3:hover {
    transform: translateY(-10px);
}


.testimonial .col3 p {
    font-size: 15px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col3 h3 {
    font-weight: 600;
    color: #901808;
    font-size: 16px;
}