/*----------------single product details-----------------------------------------------------------*/

.col2-com-hd1 {


    flex-basis: 75%;
    min-width: 300px;
    margin-top: 3px;

}


.col2-com-hd2 {


    flex-basis: 25%;
    min-width: 300px;
    margin-bottom: 3px;
    margin-top: -32px;

}



.PDet-Heading .Com-Name {

    text-align: left;
    color: rgb(124, 111, 9);
    margin-bottom: 1px;
}


.PDet-Heading .p-Name {
    text-align: center;
    color: maroon;
    font-size: 50px;

}

.PDet-Heading .P1 {

    color: rgba(62, 61, 61, 0.408);
    margin-bottom: 5px;
    font-size: 20px;
    text-align: center;
}








.single-p-container {
    max-width: 1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;


}




.P_Details h4 {
    text-align: left;
    text-underline-position: initial;
    color: #000;
    font-weight: bold;
    font-size: 30px;
}

.P_Details h3 {
    text-align: left;
    color: rgb(16, 126, 6);
    font-weight: bold;
    font-size: 40px;
}

.P_Details P {
    text-align: left;
    color: dimgrey;
    margin-bottom: 5px;
}


.P_Details .single-p-container .col2 .productBigImg {
    padding: 0;
}

.P_Details .single-p-container .col2 {
    padding: 10px;
}

.P_Details .single-p-container .col2 .small-img {
    padding-top: 3px;
}



.P_Details select {
    display: block;
    padding: 8px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 1px solid rgb(90, 1, 1);
}

.P_Details input {
    width: 50px;
    height: 30px;
    padding-left: 10px;
    font-size: 18px;
    margin-right: 10px;
    border: 1px solid rgb(90, 1, 1);
}

input:focus {
    outline: none;
}




.row .small-img-row {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.row .small-img-col-sp {
    flex-basis: 24%;
    cursor: pointer;
}

.v-more {
    color: rgb(74, 74, 171);
}